<%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <%= f.submit "Follow", class: "btn mt-4 btnRadius text-warning", style:"border: 3px solid #ff8d00;"%>
<% end %>