<p id="notice"><%= notice %></p>

    <% photos.each do |photo| %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center sizeFramePhotos">
        <div class="d-flex justify-content-center text-center sizeImage">
          <%= image_tag photo.image , {class:"rounded-sm sizePhotos", style:"position: absolute; z-index: 0;"} if photo.image.attached?%>
          <% if photo.sharing_mode? %>
            <i class="fas fa-unlock fa-lg rounded-circle bg-secondary p-2 mt-1" style="position: absolute; z-index: 1; margin-left: 187px; "></i>
            <% else %>
            <i class="fas fa-lock fa-lg rounded-circle bg-secondary p-2 mt-1" style="position: absolute; z-index: 1; margin-left: 187px; "></i>
          <% end %>
          <%= link_to 'EDIT', edit_photo_path(photo), class:"btn btn-secondary", style:"position: absolute; z-index: 2; margin-top: 188px; margin-left: 158px;" %>
        </div>
        <div class="d-flex justify-content-center">
          <p><%= photo.title %></p>
        </div>
      </div>
    <% end %>


